<template name="graph">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<div>
				<svg id="graph2"></svg>
				<form>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Nominal = </span>
						<input type="text" class="form-control" placeholder="Alarm Range" aria-describedby="basic-addon1" id="nominal" value="50">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Alarm = +/-</span>
						<input type="text" class="form-control" placeholder="Alarm Range" aria-describedby="basic-addon1" id="alarmRange" value="10">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Warning = +/-</span>
						<input type="text" class="form-control" placeholder="Warning Range" aria-describedby="basic-addon1" id="warnRange" value="5">
					</div>
				</form>
			</div>	
		</div>
		<div class="col-lg-6 col-md-4 col-sm-12">
			<p>This toy demonstrates several things:</p>
			<ul>
				<li>
					<a href="https://www.meteor.com/">Meteor</a> - JavaScript Application Development stack. Meteor utilizes Node.js and MongoDB on the server side, 'Mini-mongo', Blaze, and Spacebars (similar to Handlebars, but specific to Meteor's reactive engine, Blaze) on the client side, and ties them together with a bespoke <a href="https://www.meteor.com/ddp">DDP</a> protocol which rides on websockets.  The end result is a server which can push live updates, particularly data updates, to the client.
				</li>
				<li>
					Some light <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.  Not pushing any envelopes here, but it's a simple way to make a presentable and responsive site.
				</li>
				<li>
					<a href="http://d3js.org/">D3.js</a> - Javascript "Data Driven Document" toolset.  Or, as it's more commonly known as/for: A data visualization toolset.  Making the &lt;svg&gt; that D3 is using behave responsively is not as trivial as the rest of the page, but I found a good example of how to do that on <a href="http://www.brendansudol.com/posts/responsive-d3/">this site</a>.
				</li>
			</ul>
			<p>Those are the broad strokes.  What's happening here is:
				<ul>
					<li>
						Server side is running some code about twice per second that generates some data and inserts it into a MongoDB collection. The data comes from a "noise" generator - currently several sine wave forms of different frequencies summed together.
					</li>
					<li>
						Server side is also publishing a recordset to each connected client with the last n records in that collection (n=300, as I write this, but it may be reduced).  Because of Meteor's reactive nature, new documents added to that collection are pushed to subscribing clients over DDP. 
					</li>
					<li>
						When the client template is ready (basically, moments after initial page load), it sets up a &lt;svg&gt; for use with D3, subscribes to the recordset being published by the server.  It then sets up a block of code which will process new data as it arrives.  This is done in a Tracker.autorun block, which will know when new data has arrived via the subscription, and which will then re-run the block of code.						
					</li>
					<li>
						Within the autorun block, the [current n] records are fetched into a JS array, and then used as a dataset to drive D3.  Actually, there are three datasets generated - one for painting the datapoints, one for the movable green/yellow/red band which tracks the newest datapoint (it's also used for the value displayed in graph in upper left), and one for drawing the path segments to connect the dots - this is a transformation of the set used for the points, which includes the x and y values of the previous datapoint.
					</li>
				</ul>
			</p>
			<p>
				Although the animation of the chart 'steps', as it were, it's worth pointing out that the client is NOT polling (actually, if the network topology between the client and the server blocks the DDP, it may fall back to a polling mode), that stepping is the interval of data being pushed into the database, and/or from the server to the client - whatever the bottleneck is.  On a LAN, the insertion interval is likely the bottleneck.  On the Internet, network latency is likely the bottleneck.
			</p>

		</div>
	</div>
</template>
