<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>data-visualization-toy</title>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>DVT</h1>
			<p>Data Visualization Toy</p>
		</div>
		{{> graph}}
	</div>
</body>
